.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 40px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

/* .nav-connect {
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #F53844 0.36%, #42378F 102.06%);
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
} */

/* .nav-connect:hover {
    transform: scale(1.05);
} */

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* .nav-menu li img {
    display: flex;
    margin: auto;
} */

.nav-menu li:hover p {
    color: rgb(234, 18, 223);
    transform: scale(1.2);
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width:768px) {

    .navbar {
        margin: 20px 50px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px; /*change*/
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 260px; /*change*/
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 310px; /*change*/
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}